<form>
  <div class="mb-3 row">
    <div class="col-12 col-lg-4">
      <label for="inputFirstName" class="form-label">First Name</label>
      <input type="text" class="form-control" id="inputFirstName" />
    </div>
    <div class="col-12 col-lg-4">
      <label for="inputMiddleName" class="form-label">Middle Name</label>
      <input type="text" class="form-control" id="inputMiddleName" />
    </div>
    <div class="col-12 col-lg-4">
      <label for="inputLastName" class="form-label">Last Name</label>
      <input type="text" class="form-control" id="inputLastName" />
    </div>
  </div>
  <div class="mb-3">
    <label for="inputEmail" class="form-label">Email address</label>
    <input
      type="email"
      class="form-control"
      id="inputEmail"
      value="thindvansh1999@gmail.com"
      readonly="true"
      disabled="true"
    />
  </div>
  <div class="mb-3">
    <label for="inputMobileNo" class="form-label">Mobile No.</label>
    <input type="text" class="form-control" id="inputMobileNo" />
  </div>
  <!-- better if password entering comes as a prompt or modal? -->
  <div class="mb-3">
    <label for="inputPassword" class="form-label">Password</label>
    <input type="password" class="form-control" id="inputPassword" />
  </div>
  <button type="button" class="btn btn-primary">Update</button>
</form>
