<div class="container" >
    <div class="row align-items-center vh-100">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign In</h5>
            <form class="form-signin" >
  
              <div class="form-group">
                <label for="inputEmail">Email address *</label>
                <input type="email"  class="form-control rounded" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email" formControlName="username">
              </div>

              <br>
              <div class="form-group">
                  <label for="inputPassword" >Password *</label>
                  <input type="password" class="form-control rounded"  id="inputPassword" aria-describedby="passwordHelp" placeholder="Enter password" formControlName="password">
              </div>
  
              <!-- <p class="alert alert-danger" role="alert" >
                <strong>There was an error!</strong><br>Please check your username/password and try again.
              </p> -->
              <br>
              <button type="button" class="btn btn-primary">LOGIN</button>
  
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  