<ul class="list-group">
  <li class="list-group-item">Name:</li>
  <li class="list-group-item">Email:</li>
  <li class="list-group-item">Mobile No:</li>
  <li class="list-group-item">CompanyName:</li>
  <li class="list-group-item">CollegeName:</li>
</ul>
